<a href="https://colab.research.google.com/github/Savvy-Slowley/Synthetic-Data/blob/main/Personal_Information.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install Faker

Requirement already satisfied: Faker in /usr/local/lib/python3.10/dist-packages (19.2.0)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->Faker) (1.16.0)

In [6]:
import random
from datetime import datetime, timedelta
import pandas as pd
from faker import Faker

fake = Faker()

def random_date(start, end):
    return start + timedelta(seconds=random.randint(0, int((end - start).total_seconds())))

# Specify the number of applicants and starting applicant ID
num_applicants = 100
start_applicant_id = 1

# Constants representing age limits
AGE_OF_ADULTHOOD = 18
AGE_OF_RETIREMENT = 65

# Constants representing state and city match percentages
STATE_MATCH_PERCENTAGE = 0.8
CITY_MATCH_PERCENTAGE = 0.2

# Define area codes for relevant states
area_codes = {
    'Alabama': ['205', '251', '256', '334', '938'],
    'Alaska': ['907'],
    'Arizona': ['480', '520', '602', '623', '928'],
    'Arkansas': ['479', '501', '870'],
    'California': ['209', '213', '310', '323', '408', '415', '510', '530', '559', '562', '619', '626', '650', '707', '714', '760', '805', '818', '831', '858', '909', '916', '925', '949', '951'],
    'Colorado': ['303', '719', '720', '970'],
    'Connecticut': ['203', '475', '860', '959'],
    'Delaware': ['302'],
    'Florida': ['239', '305', '321', '352', '386', '407', '561', '727', '754', '772', '786', '813', '850', '863', '904', '941', '954'],
    'Georgia': ['229', '404', '470', '478', '678', '706', '762', '770', '912'],
    'Hawaii': ['808'],
    'Idaho': ['208'],
    'Illinois': ['217', '224', '309', '312', '331', '618', '630', '708', '773', '779', '815', '847', '872'],
    'Indiana': ['219', '260', '317', '463', '574', '765', '812', '930'],
    'Iowa': ['319', '515', '563', '641', '712'],
    'Kansas': ['316', '620', '785', '913'],
    'Kentucky': ['270', '364', '502', '606', '859'],
    'Louisiana': ['225', '318', '337', '504', '985'],
    'Maine': ['207'],
    'Maryland': ['227', '240', '301', '410', '443', '667'],
    'Massachusetts': ['339', '351', '413', '508', '617', '774', '781', '857', '978'],
    'Michigan': ['231', '248', '269', '313', '517', '586', '616', '734', '810', '906', '947', '989'],
    'Minnesota': ['218', '320', '507', '612', '651', '763', '952'],
    'Mississippi': ['228', '601', '662', '769'],
    'Missouri': ['314', '417', '573', '636', '660', '816'],
    'Montana': ['406'],
    'Nebraska': ['308', '402', '531'],
    'Nevada': ['702', '725', '775'],
    'New Hampshire': ['603'],
    'New Jersey': ['201', '551', '609', '640', '732', '848', '856', '862', '908', '973'],
    'New Mexico': ['505', '575'],
    'New York': ['212', '315', '518', '585', '631', '716', '845', '914'],
    'North Carolina': ['252', '336', '704', '743', '828', '910', '919', '980', '984'],
    'North Dakota': ['701'],
    'Ohio': ['216', '220', '234', '330', '380', '419', '440', '513', '567', '614', '740', '937'],
    'Oklahoma': ['405', '539', '580', '918'],
    'Oregon': ['458', '503', '541', '971'],
    'Pennsylvania': ['215', '223', '267', '272', '412', '484', '570', '610', '717', '724', '814', '878'],
    'Rhode Island': ['401'],
    'South Carolina': ['803', '843', '854', '864'],
    'South Dakota': ['605'],
    'Tennessee': ['423', '615', '629', '731', '865', '901', '931'],
    'Texas': ['210', '214', '254', '281', '325', '346', '361', '409', '430', '432', '469', '512', '682', '713', '737', '806', '817', '830', '832', '903', '915', '936', '940', '956', '972', '979'],
    'Utah': ['385', '435', '801'],
    'Vermont': ['802'],
    'Virginia': ['276', '434', '540', '571', '703', '757', '804'],
    'Washington': ['206', '253', '360', '425', '509', '564'],
    'West Virginia': ['304', '681'],
    'Wisconsin': ['262', '274', '414', '534', '608', '715', '920'],
    'Wyoming': ['307']
}


# Creating the Passport Application Dataset
applicant_data = {
    'applicant_id': range(start_applicant_id, start_applicant_id + num_applicants),
    'last_name': [],
    'first_name': [],
    'middle_name': [],
    'ssn': [],
    'date_of_birth': [],
    'gender': [],
    'place_of_birth': [],
    'contact_phone_number': [],
    'occupation': [],
    'employer_or_school': [],
    'height_ft': [],
    'height_in': [],
    'hair_color': [],
    'eye_color': [],
    'permanent_address': [],
}

start_date = datetime(1960, 1, 1)
end_date = datetime.now()

hair_colors = ['Black', 'Brown', 'Blonde', 'Red']
eye_colors = ['Brown', 'Blue', 'Green']

# Generate the country for the family to be born in
family_country = 'USA'

for applicant in range(num_applicants):
    # Generate unique last names for parents
    father_last_name = fake.unique.last_name_male()
    mother_last_name = fake.unique.last_name_female()

    # Generate gender for the applicant
    gender = random.choice(['Male', 'Female'])

    # Generate unique first names based on gender
    if gender == 'Male':
        first_name = fake.unique.first_name_male()
        middle_name = fake.first_name_male()
    else:
        first_name = fake.unique.first_name_female()
        middle_name = fake.first_name_female()

    last_name = father_last_name

    ssn = fake.unique.ssn()  # Generate unique SSN

    date_of_birth = random_date(start_date, end_date).strftime('%Y-%m-%d')

    # Determine applicant's location/state and city
    location = random.choice(list(area_codes.keys()))
    city = fake.city()

    # Determine area code based on the location/state
    if location in area_codes:
        area_code = random.choice(area_codes[location])
    else:
        area_code = str(fake.random_int(200, 999))

    # Generate applicant's phone number with the assigned area code
    contact_phone_number = f'({area_code}) {fake.random_int(100, 999)}-{fake.random_int(1000, 9999)}'

    # Determine if place_of_birth and permanent_address should match state or city
    if random.random() < STATE_MATCH_PERCENTAGE:
        place_of_birth = city + ', ' + location  # Same state, different city
        permanent_address = fake.address().replace('\n', ', ') + ', ' + location  # Same state, different city
    elif random.random() < CITY_MATCH_PERCENTAGE:
        place_of_birth = city + ', ' + location  # Same city and state
        permanent_address = fake.address().replace('\n', ', ') + ', ' + location  # Same city and state
    else:
        place_of_birth = fake.city() + ', ' + location  # Different city, same state
        permanent_address = fake.address().replace('\n', ', ') + ', ' + location  # Different city, same state

    # Determine the age based on the date of birth
    age = (datetime.now() - datetime.strptime(date_of_birth, '%Y-%m-%d')).days // 365

    # Adjust height for different age groups
    if age < AGE_OF_ADULTHOOD:
        occupation = 'Student'
        employer_or_school = fake.company() + 'School'

        if age < 1:
            # For babies (less than 1 year old)
            height_ft = 0
            height_in = random.randint(16, 36)  # Height in inches for babies (16-36 inches)
        else:
            # For minors (1-17 years old)
            if age <= 5:
                # For toddlers and young children (1-5 years old)
                height_ft = 2
                height_in = random.randint(0, 11)  # Height in inches (0-11 inches)
            else:
                # For older children and teenagers (6-17 years old)
                height_ft = random.randint(4, 5)  # Height in feet for minors (4-5 feet)
                height_in = random.randint(0, 11)  # Height in inches (0-11 inches)
    elif age > AGE_OF_RETIREMENT:
        occupation = 'Retired'
        employer_or_school = None
        height_ft = random.randint(5, 6)  # Height in feet for retirees (5-6 feet)
        height_in = random.randint(0, 11)  # Height in inches (0-11 inches)
    else:
        occupation = fake.job()
        employer_or_school = fake.company()
        height_ft = random.randint(4, 6)  # Height in feet for adults (4-6 feet)
        height_in = random.randint(0, 11)  # Height in inches (0-11 inches)

    # Convert height to a formatted string
    height = f"{height_ft}'{height_in}\""

    hair_color = random.choice(hair_colors)
    eye_color = random.choice(eye_colors)

    applicant_data['last_name'].append(last_name)
    applicant_data['first_name'].append(first_name)
    applicant_data['middle_name'].append(middle_name)
    applicant_data['ssn'].append(ssn)
    applicant_data['date_of_birth'].append(date_of_birth)
    applicant_data['gender'].append(gender)
    applicant_data['place_of_birth'].append(place_of_birth)
    applicant_data['contact_phone_number'].append(contact_phone_number)
    applicant_data['occupation'].append(occupation)
    applicant_data['employer_or_school'].append(employer_or_school)
    applicant_data['height_ft'].append(height_ft)
    applicant_data['height_in'].append(height_in)
    applicant_data['hair_color'].append(hair_color)
    applicant_data['eye_color'].append(eye_color)
    applicant_data['permanent_address'].append(permanent_address)

applicant_df = pd.DataFrame(applicant_data)

In [7]:
applicant_df

,applicant_id,last_name,first_name,middle_name,ssn,date_of_birth,gender,place_of_birth,contact_phone_number,occupation,employer_or_school,height_ft,height_in,hair_color,eye_color,permanent_address
0,1,Cummings,Alexander,Charles,489-85-6811,1999-04-13,Male,"East Jonathan, Texas",(254) 719-1466,Interpreter,"Martin, Alvarez and Jenkins",5,3,Blonde,Blue,"81227 Norris Creek Apt. 177, Rodriguezside, TN..."
1,2,Campos,Lori,Chelsea,398-15-8748,1987-04-13,Female,"Kerrishire, Oklahoma",(539) 515-9058,Hydrologist,"Anderson, Romero and Pace",6,6,Brown,Blue,"074 Byrd Turnpike Suite 048, Port Amberhaven, ..."
2,3,Barry,Leslie,Dalton,870-58-1436,1992-04-30,Male,"Rebeccamouth, Oklahoma",(580) 913-4457,"Therapist, art","Cross, Moore and Vasquez",6,11,Black,Green,"USNV Austin, FPO AE 95938, Oklahoma"
3,4,Johnson,Isaac,David,687-33-9556,2002-10-28,Male,"Walterville, Tennessee",(731) 533-2000,IT technical support officer,Cantu-Smith,5,6,Brown,Brown,"41305 Copeland Ports, North Jennifertown, PR 8..."
4,5,Jones,Angela,Stacy,761-94-7076,2014-11-18,Female,"East Stephenport, Arizona",(602) 280-3930,Student,Case-SimmonsSchool,4,3,Brown,Blue,"6479 Mitchell Village, Port Aaronmouth, ND 633..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,Yates,Gina,Jill,117-34-3018,1980-07-03,Female,"Cookton, Illinois",(309) 599-2095,"Accountant, chartered public finance","Guerrero, Miller and Baker",5,1,Red,Green,"391 Stone Garden, Woodton, AS 59290, Illinois"
96,97,Mccoy,Jonathan,William,259-02-5887,1995-06-01,Male,"Stephentown, Minnesota",(320) 750-7661,Industrial buyer,Pearson-King,6,2,Red,Brown,"USNV Chapman, FPO AP 71457, Minnesota"
97,98,Ochoa,Cindy,Sherry,175-95-2763,2003-07-28,Female,"East Charles, Hawaii",(808) 630-2587,Media planner,Johnson-Steele,4,3,Brown,Green,"7961 Martin Wall, Ryanmouth, MN 36238, Hawaii"
98,99,Allen,Erin,Carol,281-73-1829,1964-01-24,Female,"South Davidtown, New York",(914) 454-6518,Facilities manager,"Lane, Jones and Ellis",4,9,Brown,Brown,"550 Bell Underpass Apt. 200, Port Danielburgh,..."
99,100,Alvarez,Eddie,Jeremy,005-92-1846,1973-07-17,Male,"North David, Delaware",(302) 418-4635,Counsellor,Clarke-Burns,6,9,Brown,Green,"04850 Bobby Unions, Davidberg, SC 16593, Delaware"