<a href="https://colab.research.google.com/github/Savvy-Slowley/Synthetic-Data/blob/main/Synthetic_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install Faker

Requirement already satisfied: Faker in /usr/local/lib/python3.10/dist-packages (18.11.2)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->Faker) (1.16.0)

In [2]:
from faker import Faker
import random
from datetime import datetime, timedelta
import pandas as pd

fake = Faker()

def random_date(start, end):
    return start + timedelta(seconds=random.randint(0, int((end - start).total_seconds())))

# Specify the number of customers and starting customer ID
num_customers = 5
start_customer_id = 1

# Creating the Customer Dataset
customer_data = {
    'customer_id': range(start_customer_id, start_customer_id + num_customers),
    'first_name': [],
    'last_name': [],
    'ssn': [],
    'address': [],
    'birth_date': [],
    'acquisition_channel': []
}

start_date = datetime(1960, 1, 1)
end_date = datetime.now()

acquisition_channels = ['Organic', 'Referral', 'Paid Ads', 'Social Media']

for customer in range(num_customers):
    first_name = fake.first_name()
    last_name = fake.last_name()
    address = fake.address()
    ssn = fake.ssn()
    birth_date = random_date(start_date, end_date).strftime('%Y-%m-%d')
    acquisition_channel = random.choice(acquisition_channels)

    customer_data['first_name'].append(first_name)
    customer_data['last_name'].append(last_name)
    customer_data['address'].append(address)
    customer_data['ssn'].append(ssn)
    customer_data['birth_date'].append(birth_date)
    customer_data['acquisition_channel'].append(acquisition_channel)


customer_df = pd.DataFrame(customer_data)


# Creating the Order Dataset
order_data = {
    'customer_id': [],
    'order_id': [],
    'transaction_date': [],
    'product': [],
    'price': [],
    'quantity': []
}

start_date = datetime.now() - timedelta(days=3650)  # 10 years ago
end_date = datetime.now()

customer_ids = customer_df['customer_id'].tolist()

for order_id in range(1, 5):  # Generate 25 orders
    random_customer_id = random.choice(customer_ids)
    transaction_date = random_date(start_date, end_date).strftime('%Y-%m-%d')
    product = random.choice(['Smartphone', 'Headphones', 'Laptop', 'Mouse', 'Smartwatch',
                             'Fitness Tracker', 'Camera', 'SD Card'])
    price = random.randint(10, 500)
    quantity = random.randint(1, 25)

    order_data['customer_id'].append(random_customer_id)
    order_data['order_id'].append(order_id)
    order_data['transaction_date'].append(transaction_date)
    order_data['product'].append(product)
    order_data['price'].append(price)
    order_data['quantity'].append(quantity)

order_df = pd.DataFrame(order_data)

In [3]:
print("Customer Dataset:")
customer_df.head()

Customer Dataset:

,customer_id,first_name,last_name,ssn,address,birth_date,acquisition_channel
0,1,Alyssa,Oliver,340-02-6431,"7882 Heather Views\nBrittanyport, CO 46589",1976-06-29,Referral
1,2,Melissa,Lane,530-32-1518,"5861 Wanda Fords Apt. 733\nLake Nicole, LA 48680",1987-01-23,Paid Ads
2,3,Andrea,Smith,225-96-0539,"960 Cook Spurs\nNorth Jason, MD 68917",1967-04-17,Referral
3,4,Donna,Gonzalez,108-83-0840,"41357 Rivera Square\nAdamsland, IN 04493",2016-06-12,Paid Ads
4,5,Peter,Jackson,084-95-0083,"356 Flores Forks Apt. 594\nMillerstad, NJ 93453",1963-09-07,Paid Ads

In [4]:
print("Order Dataset:")
order_df.head()

Order Dataset:

   customer_id  order_id transaction_date     product  price  quantity
0            2         1       2017-09-13      Laptop    356        12
1            5         2       2020-06-09      Camera    453        20
2            4         3       2015-02-12  Headphones     63        20
3            2         4       2014-06-26      Camera    292        11